/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.uabb-gf-style form .gform_body .gfield_label{
	font-size: 16px !important;
}
.privacy-phone .storename {
    margin-left: 5px;
}
.privacy-phone  {
    margin-top: -10px;
}

.gform_legacy_markup_wrapper .gfield_required {
    color: #FF9E18 !important;
}
.uabb-gf-style .gform_wrapper .gform_body .ginput_container_checkbox .gfield_checkbox li label{
	    padding-left: 30px !important;
	color: #000 !important;
}
 .uabb-gf-style .gform_wrapper .gform_body .terms .ginput_container_checkbox .gfield_checkbox li label {
    padding-left: 10px!important;
}
.post-1196919  .slick-track {
    display: flex !important;
    align-items: center;
}
.uabb-photo__gallery-filter:hover,.uabb-photo__gallery-filter.uabb-filter__current {
    background-color: #FF9E18 !important;
}

#gform_fields_24{
	display: flex;
}
li.gfmc-column.gfmc-row-1-column {
    width: 45% !important;
    margin: 0 auto !important;
}
#gform_wrapper_24 .gform_footer {
	    margin-left: 52.5%;
    margin-top: -70px;
}
.gform_legacy_markup_wrapper .gfield_time_hour i{
	margin-top: 30% !important;
}
.columnBreak{
	padding-left: 50px!important;
}
.brandSlider .slick-track{
    display: flex;
    align-items: center;
}
.product-detail-layout-5 .col-md-6.product-swatch{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.bx-viewport .fl-slide-title{
    margin-bottom: 0px!important;
}
.instockPdp .button-wrapper-default > a{
    background: #ff9e18!important;
    color: #fff!important;    
    border-radius: 5px!important;    
}
.instockPdp .button-wrapper-default > a:hover{
    background: #0081CC!important;
    color: #fff!important;    
    border-radius: 5px!important;    
}

.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #ff9e18!important;
    color: #ff9e18!important;
}
.headerMain .contact-no .phone > span:before{
	content: "\f095"!important;
    font: normal normal normal 14px/1 FontAwesome!important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}	
/* .storename .phone a span:before{
	content: "\f095"!important;
    font: normal normal normal 14px/1 FontAwesome!important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
} */
.advSearch .fl-icon i:hover{
	cursor: pointer!important;
}
/* services page css start here */
.listPad.tilgrey {
   z-index: 3;
    position: relative;
}
.listPad ul{
  padding-left: 16px;
}
.listPad.tilgrey:after {
   content: "";
   background-color: #FFF5E8;
    height: 80%;
    position: absolute;
    width: 80%;
    z-index: -1;
    top: 0;
    left: -110px;
}

.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"],.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}.fl-node-5ce41bb38a9be .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}.fl-node-5ce41bb38a9be .fl-bg-video-audio .fl-audio-control {font-size: 20px;}.fl-node-5ce41bb38a9be .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}.fl-node-5ce41bb38a9be > .fl-row-content-wrap {background-image: linear-gradient(180deg, rgba(2,0,0,0.71) 0%, rgba(0,0,0,0.01) 100%);}@media(max-width: 992px) {}@media(max-width: 768px) {} .fl-node-5ce41bb38a9be > .fl-row-content-wrap {margin-top:0px;} .fl-node-5ce41bb38a9be > .fl-row-content-wrap {padding-top:20px;padding-bottom:10px;}.fl-node-5ce41bb38c074 {width: 100%;}@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5cf8aab7edcda {width: 50%;}@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5cf8aab7edcdf {width: 50%;}@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5ce41be4c3452 {width: 26%;}@media(max-width: 992px) {}@media(max-width: 768px) {} .fl-node-5ce41be4c3452 > .fl-col-content {margin-top:0px;} .fl-node-5ce41be4c3452 > .fl-col-content {padding-top:0px;}.fl-node-5ce41be4c3454 {width: 74%;}@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5cf640a3c3875 .fl-rich-text, .fl-node-5cf640a3c3875 .fl-rich-text * {color: #ffffff;text-align: left;}.fl-node-5cf640a3c3875 .fl-rich-text strong {font-weight: bold;}@media(max-width: 992px) {.fl-node-5cf640a3c3875 .fl-rich-text, .fl-node-5cf640a3c3875 .fl-rich-text * {text-align: center;}}@media(max-width: 768px) {.fl-node-5cf640a3c3875 .fl-rich-text, .fl-node-5cf640a3c3875 .fl-rich-text * {text-align: center;}} .fl-node-5cf640a3c3875 > .fl-module-content {margin-top:0px;margin-bottom:0px;} .fl-node-5cf8a33732f54 > .fl-module-content {margin-top:5px;margin-right:10px;margin-bottom:0px;margin-left:0px;}@media ( max-width: 992px ) { .fl-node-5cf8a33732f54.fl-module > .fl-module-content {margin-bottom:10px;}} .fl-node-5cf8a35a35ae0 > .fl-module-content {margin-top:0px;margin-right:20px;margin-bottom:0px;margin-left:0px;}.fl-node-5ce41befb207d {width: 100%;}.fl-node-5ce41befb207d .uabb-photo-content {}.fl-node-5ce41befb207d .uabb-photo-content img {width: 250px;}.fl-node-5ce41befb207d .uabb-photo-caption { }.fl-node-5ce41befb207d .uabb-photo-content .uabb-photo-img {-moz-transition: all .3s ease;-webkit-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}.fl-node-5ce41befb207d .uabb-photo-content .uabb-photo-img {opacity: 1;}.fl-node-5ce41befb207d .uabb-photo-content .uabb-photo-img:hover {opacity: 0.7; }@media ( max-width: 768px ) {.fl-node-5ce41befb207d .uabb-photo-mob-align-center {text-align: center;}}@media(max-width: 992px) {}@media(max-width: 768px) {} .fl-node-5ce41befb207d > .fl-module-content {margin-top:0px;}.uabb-creative-menu ul,.uabb-creative-menu li {list-style: none !important;margin: 0;padding: 0;}.uabb-creative-menu .menu:before,.uabb-creative-menu .menu:after {content: '';display: table;clear: both;}.uabb-creative-menu .menu {position: relative;padding-left: 0;}.uabb-creative-menu li {position: relative;}.uabb-creative-menu a {display: block;line-height: 1;text-decoration: none;}.uabb-creative-menu .menu a {box-shadow: none;}.uabb-creative-menu a:hover {text-decoration: none;}.uabb-creative-menu .sub-menu {min-width: 220px;margin: 0;}.uabb-creative-menu-horizontal {font-size: 0;}.uabb-creative-menu-horizontal li,.uabb-creative-menu-horizontal > li {font-size: medium;}.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container > a > span.menu-item-text {display: inline-block;}.fl-module[data-node] .uabb-creative-menu .uabb-creative-menu-expanded .sub-menu {background-color: transparent;-webkit-box-shadow: none;-ms-box-shadow: none;box-shadow: none;}.uabb-creative-menu .uabb-has-submenu:focus,.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,.uabb-creative-menu .uabb-has-submenu-container:focus {outline: 0;}.uabb-creative-menu .uabb-has-submenu-container {position: relative;}.uabb-creative-menu .uabb-creative-menu-accordion .uabb-has-submenu > .sub-menu {display: none;}.uabb-creative-menu .uabb-menu-toggle {cursor: pointer;}.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {border-color: #333;}.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {display: none;}.uabb-creative-menu-mobile-toggle {position: relative;padding: 8px;background-color: transparent;border: none;color: #333;border-radius: 0;cursor: pointer;display: inline-block;z-index: 5;}.uabb-creative-menu-mobile-toggle.text {width: 100%;text-align: center;}.uabb-creative-menu-mobile-toggle.hamburger .uabb-creative-menu-mobile-toggle-label,.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-creative-menu-mobile-toggle-label {display: inline-block;margin-left: 10px;vertical-align: middle;}.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {display: inline-block;position: relative;width: 1.4em;height: 1.4em;vertical-align: middle;}.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {fill: currentColor;}.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {width: 20px;height: 10px;position: absolute;right: 20px;top: 20px;cursor: pointer;display: block;z-index: 99;}.uabb-creative-menu .uabb-menu-overlay {position: fixed;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.8);z-index: 99999;overflow-y: auto;overflow-x: hidden;}.uabb-creative-menu .uabb-menu-overlay > ul.menu {text-align: center;position: relative;top: 50%;width: 40%;height: 60%;margin: 0 auto;-webkit-transform: translateY(-50%);transform: translateY(-50%);}.uabb-creative-menu .uabb-overlay-fade {opacity: 0;visibility: hidden;-webkit-transition: opacity 0.5s, visibility 0s 0.5s;transition: opacity 0.5s, visibility 0s 0.5s;}.uabb-creative-menu.menu-open .uabb-overlay-fade {opacity: 1;visibility: visible;-webkit-transition: opacity 0.5s;transition: opacity 0.5s;}.uabb-creative-menu .uabb-overlay-slide-down {visibility: hidden;-webkit-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;transition: transform 0.4s ease-in-out, visibility 0s 0.4s;}.uabb-creative-menu.menu-open .uabb-overlay-slide-down {visibility: visible;-webkit-transform: translateY(0%);transform: translateY(0%);-webkit-transition: -webkit-transform 0.4s ease-in-out;transition: transform 0.4s ease-in-out;}.uabb-creative-menu .uabb-overlay-scale {visibility: hidden;opacity: 0;-webkit-transform: scale(0.9);transform: scale(0.9);-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;}.uabb-creative-menu.menu-open .uabb-overlay-scale {visibility: visible;opacity: 1;-webkit-transform: scale(1);transform: scale(1);-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;transition: transform 0.4s, opacity 0.4s;} .uabb-creative-menu .uabb-overlay-door {visibility: hidden;width: 0;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;transition: width 0.5s 0.3s, visibility 0s 0.8s;}.uabb-creative-menu.menu-open .uabb-overlay-door {visibility: visible;width: 100%;-webkit-transition: width 0.5s;transition: width 0.5s;}.uabb-creative-menu .uabb-overlay-door > ul.menu {left: 0;right: 0;transform: translateY(-50%);}.uabb-creative-menu .uabb-overlay-door > ul,.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {opacity: 0;-webkit-transition: opacity 0.3s 0.5s;transition: opacity 0.3s 0.5s;}.uabb-creative-menu.menu-open .uabb-overlay-door > ul,.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {opacity: 1;-webkit-transition-delay: 0.5s;transition-delay: 0.5s;}.uabb-creative-menu.menu-close .uabb-overlay-door > ul,.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {-webkit-transition-delay: 0s;transition-delay: 0s;}.uabb-creative-menu .uabb-menu-overlay .uabb-toggle-arrows .uabb-has-submenu-container a > span {padding-right: 0 !important;}.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {position: absolute;display: block;width: 55px;height: 45px;right: 40px;top: 40px;overflow: hidden;border: none;outline: none;z-index: 100;font-size: 30px;cursor: pointer;background-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-transition: background-color 0.3s;transition: background-color 0.3s;}.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {content: '';position: absolute;left: 50%;width: 2px;height: 40px;background-color: #ffffff;-webkit-transition: -webkit-transform 0.3s;transition: transform 0.3s;-webkit-transform: translateY(0) rotate(45deg);transform: translateY(0) rotate(45deg);}.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {-webkit-transform: translateY(0) rotate(-45deg);transform: translateY(0) rotate(-45deg);}.uabb-creative-menu .uabb-off-canvas-menu .menu {margin-top: 40px;}.uabb-creative-menu.off-canvas .uabb-clear {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 99998;background: rgba(0,0,0,0.0);visibility: hidden;opacity: 0;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {position: fixed;top: 0;left: 0;transform: translate3d(-320px, 0px, 0px);}.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {position: fixed;top: 0;right: 0;transform: translate3d(320px, 0px, 0px);}.uabb-creative-menu .uabb-off-canvas-menu {z-index: 99999;width: 300px;height: 100%;background: rgb(55, 58, 71);padding: 60px 20px;-webkit-transition: all 0.8s;transition: transform 0.8s ease;overflow-y: auto;overflow-x: hidden;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;perspective: 1000;backface-visibility: hidden;}.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {transform: translate3d(0px, 0px, 0px);transition: transform 0.8s ease;}.uabb-creative-menu .menu > li > a,.uabb-creative-menu .menu > li > .uabb-has-submenu-container a {outline: 0;}.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {transform: translate3d(0px, 0px, 0px);transition: transform 0.8s ease;}.uabb-creative-menu.off-canvas.menu-open .uabb-clear {visibility: visible;opacity: 1;}@media ( max-width: 992px ) {.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {right: 20px;top: 20px;}}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu {text-align: right;}.uabb-creative-menu-expanded ul.sub-menu li a,.uabb-creative-menu-accordion ul.sub-menu li a,.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {text-indent: 20px;direction: rtl;}.uabb-creative-menu-expanded ul.sub-menu li li a,.uabb-creative-menu-accordion ul.sub-menu li li a,.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {text-indent: 30px;direction: rtl;}.uabb-creative-menu-expanded ul.sub-menu li li li a,.uabb-creative-menu-accordion ul.sub-menu li li li a,.uabb-creative-menu-accordion ul.sub-menu li li li .uabb-has-submenu-container a,.uabb-creative-menu-expanded ul.sub-menu li li li .uabb-has-submenu-container a {text-indent: 40px;direction: rtl;}.uabb-creative-menu-expanded ul.sub-menu li li li li a,.uabb-creative-menu-accordion ul.sub-menu li li li li a,.uabb-creative-menu-accordion ul.sub-menu li li li li .uabb-has-submenu-container a,.uabb-creative-menu-expanded ul.sub-menu li li li li .uabb-has-submenu-container a {text-indent: 50px;direction: rtl;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > a span.uabb-menu-toggle,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu.uabb-creative-menu-horizontal > li > .uabb-has-submenu-container a span.uabb-menu-toggle {padding-left: 10px;float: right;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu.uabb-creative-menu-horizontal .uabb-menu-toggle {padding-left: 10px;float: right;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li {margin-top: 5px;margin-bottom: 5px;margin-left: 5px;margin-right: 5px;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-menu-toggle:before {content: '\f107';font-family: 'Font Awesome 5 Free';z-index: 1;font-size: inherit;line-height: 0;font-weight: 900;}.fl-node-5ce41c7b61a7a .menu .uabb-has-submenu .sub-menu {display: none;}.fl-node-5ce41c7b61a7a .uabb-creative-menu li:first-child {border-top: none;}@media only screen and ( max-width: 768px ) {.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu {margin-top: 20px;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-off-canvas-menu .uabb-menu-close-btn,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {display: block;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu {text-align: center;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li {margin-left: 0 !important;margin-right: 0 !important;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {padding-left: 10px;float: right;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu .uabb-menu-toggle {padding-left: 10px;float: right;}}@media only screen and ( min-width: 769px ) {.fl-node-5ce41c7b61a7a .menu > li {display: inline-block;}.fl-node-5ce41c7b61a7a .menu li {border-left: none;border-top: none;}.fl-node-5ce41c7b61a7a .menu li li {border-top: none;border-left: none;}.fl-node-5ce41c7b61a7a .menu .uabb-has-submenu .sub-menu {position: absolute;top: 100%;left: 0;z-index: 16;visibility: hidden;opacity: 0;text-align:left;transition: all 300ms ease-in;}.fl-node-5ce41c7b61a7a .uabb-has-submenu .uabb-has-submenu .sub-menu {top:0;left: 100%;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {display: block;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {visibility: visible;opacity: 1;}.fl-node-5ce41c7b61a7a .menu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {top: 100%;left: inherit;right: 0;}.fl-node-5ce41c7b61a7a .menu .uabb-has-submenu .uabb-has-submenu.uabb-menu-submenu-right .sub-menu {top: 0;left: inherit;right: 100%;}.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle {display: none;}}.fl-node-5ce41c7b61a7a .uabb-creative-menu.uabb-menu-default .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {padding-top: 10px;padding-bottom: 10px;padding-left:3px;padding-right:3px;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .fl-module-content .uabb-creative-menu .menu > li > a span.menu-item-text,.fl-node-5ce41c7b61a7a .fl-module-content .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a span.menu-item-text {width: 100%;color:#ffffff;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {color: #ffffff;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows li:hover .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-item .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows .uabb-creative-menu.current-menu-ancestor .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-none li:hover .uabb-menu-toggle:before {color: #ff6070;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a:hover,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a:focus,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-item > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-item > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a {border-color: #ff6070;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-item > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a {background-color: #f5f5f5;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a:hover span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a:focus span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li:hover > .uabb-has-submenu-container > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li:focus > .uabb-has-submenu-container > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-item > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.focus > .uabb-has-submenu-container > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.focus > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {color: #ff6070;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-item > a span.menu-item-text > i,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-item > .uabb-has-submenu-container > a span.menu-item-text > i,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-ancestor > a span.menu-item-text > i,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text > i {color: #ff6070;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container:hover > .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-none .uabb-has-submenu-container.focus > .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-none li.current-menu-item >.uabb-has-submenu-container > .uabb-menu-toggle:before {color: #ff6070;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {padding-top: 15px;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;background-color: rgba(255,255,255,0.89);}.fl-node-5ce41c7b61a7a .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item) .uabb-creative-menu .sub-menu {min-width: 250px;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.uabb-creative-menu > a > span,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a > span {color: #333333;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li:last-child {border-bottom: none;}.fl-node-5ce41c7b61a7a .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li:first-child,.fl-node-5ce41c7b61a7a .uabb-creative-menu ul.sub-menu > li.uabb-creative-menu.uabb-has-submenu li li:first-child {border-top: none;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li.uabb-active > .sub-menu > li:first-child,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu.uabb-creative-menu-expanded .sub-menu > li > .sub-menu > li:first-child {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu {-webkit-box-shadow: 2px 2px 15px 1px #rgba(0,0,0,0.37);-moz-box-shadow: 2px 2px 15px 1px #rgba(0,0,0,0.37);-o-box-shadow: 2px 2px 15px 1px #rgba(0,0,0,0.37);box-shadow: 2px 2px 15px 1px #rgba(0,0,0,0.37);}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li:last-child > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li:last-child > .uabb-has-submenu-container > a {border: 0;}.fl-node-5ce41c7b61a7a .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:hover span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > a:focus span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:hover span.menu-item-text,.fl-node-5ce41c7b61a7a .uabb-creative-menu ul.sub-menu > li.menu-item.uabb-creative-menu > .uabb-has-submenu-container > a:focus span.menu-item-text {color: #ff6070;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > a:hover,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > a:focus,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:hover,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a:focus {background-color: #f5f5f5;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows .sub-menu li .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-none .sub-menu li .uabb-menu-toggle:before {color: #333333;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-arrows .sub-menu li:hover .uabb-menu-toggle:before,.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-toggle-none .sub-menu li:hover .uabb-menu-toggle:before {color: #ff6070;}.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle {}.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle-container,.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {text-align: center;}.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle rect {fill: #ffffff;}@media only screen and ( max-width: 768px ) {.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-menu-overlay .menu {margin-top: 40px;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu {text-align: center;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {padding-left: 10px;float: right;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu .uabb-menu-toggle {padding-left: 10px;float: right;}}@media only screen and (max-width: 992px) {.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle-container,.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {text-align: ;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li {}.fl-node-5ce41c7b61a7a .uabb-creative-menu.off-canvas .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu.uabb-menu-default .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu.full-screen .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-off-canvas-menu {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {padding-left: 10px;float: right;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu .uabb-menu-toggle {padding-left: 10px;float: right;}}@media only screen and (max-width: 768px) {.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle-container,.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle-container > .uabb-creative-menu-mobile-toggle.text {text-align: ;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li {}.fl-node-5ce41c7b61a7a .uabb-creative-menu.off-canvas .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu.off-canvas .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu.uabb-menu-default .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu.full-screen .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu.full-screen .menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-off-canvas-menu {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu {text-align: center;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container a span.menu-item-text > span.uabb-menu-toggle {float: right;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu .uabb-menu-toggle {float: right;}}@media only screen and (max-width: 992px) {}@media only screen and (max-width: 768px) {}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {font-family: Montserrat, sans-serif;font-weight: 400;font-size: 12px;letter-spacing: 2px;text-transform: uppercase;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > a, .fl-node-5ce41c7b61a7a .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {border-style: none;border-width: 0;background-clip: padding-box;border-top-width: 1px;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > a,.fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a {font-family: Montserrat, sans-serif;font-weight: 400;font-size: 12px;text-transform: uppercase;}.fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-creative-menu-expanded.menu > .uabb-has-submenu > .sub-menu, .fl-node-5ce41c7b61a7a .uabb-creative-menu .uabb-creative-menu-accordion.menu > .uabb-has-submenu > .sub-menu {border-style: solid;border-width: 0;background-clip: padding-box;border-color: #000000;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}.fl-node-5ce41c7b61a7a .uabb-creative-menu-mobile-toggle {font-family: Montserrat, sans-serif;font-weight: 400;font-size: 12px;letter-spacing: 2px;text-transform: uppercase;}@media(max-width: 992px) {}@media(max-width: 768px) {} .fl-node-5ce41c7b61a7a > .fl-module-content {margin-top:0px;}@media (max-width: 768px) { .fl-module-icon {text-align: center;} }.fl-node-5cf8dc31766e2 .fl-module-content .fl-icon i,.fl-node-5cf8dc31766e2 .fl-module-content .fl-icon i:before {color: #ffffff;}.fl-node-5cf8dc31766e2 .fl-module-content .fl-icon i, .fl-node-5cf8dc31766e2 .fl-module-content .fl-icon i:before {font-size: 30px;}.fl-node-5cf8dc31766e2 .fl-module-content .fl-icon-text {height: 52.5px;}.fl-node-5cf8dc31766e2.fl-module-icon {text-align: right;}@media(max-width: 992px) {}@media(max-width: 768px) {} .fl-node-5cf8dc31766e2 > .fl-module-content {margin-top:-13px;margin-right:30px;margin-bottom:0px;margin-left:0px;}@media (max-width: 768px) { .fl-node-5cf8dc31766e2 > .fl-module-content { margin-top:20px;margin-right:20px; } }.searchHeader {display: none;position: absolute;z-index: 111;right: 0;left: 0;background: #b7d7cc;padding: 15px 20px;}.fl-node-5ce41bb38a9be .uabb-top-row-separator.uabb-has-svg svg {width: calc( 100% + 1.5px );}.fl-node-5ce41bb38a9be .uabb-bottom-row-separator.uabb-has-svg svg {width: calc( 100% + 1.5px ) ;}.fl-node-5ce41bb38a9be #uabb-top-slit2,.fl-node-5ce41bb38a9be #uabb-top-slit3 {fill: #afafaf;}.fl-node-5ce41bb38a9be #uabb-bottom-slit2,.fl-node-5ce41bb38a9be #uabb-bottom-slit3 {fill: #afafaf;}.fl-node-5ce41bb38a9be #uabb-top-pine-tree-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be #uabb-bottom-pine-tree-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be #uabb-top-pine-tree-bend-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be #uabb-bottom-pine-tree-bend-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be #uabb-top-slime-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be #uabb-bottom-slime-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be #uabb-top-wave-slide-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be #uabb-bottom-wave-slide-separator2 {fill: #ffffff;stroke: #ffffff;}.fl-node-5ce41bb38a9be .uabb-top-row-separator {z-index: 9;}.fl-node-5ce41bb38a9be .uabb-bottom-row-separator {z-index: 9;}@media(max-width: 992px) {.fl-node-5ce41bb38a9be .uabb-top-row-separator.uabb-has-svg svg {width: 100%;}.fl-node-5ce41bb38a9be .uabb-bottom-row-separator.uabb-has-svg svg {width: 100%;}}@media(max-width: 768px) {.fl-node-5ce41bb38a9be .uabb-top-row-separator.uabb-has-svg svg {width: 100%;}.fl-node-5ce41bb38a9be .uabb-bottom-row-separator.uabb-has-svg svg {width: 100%;}}.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {-webkit-justify-content: flex-end;justify-content: flex-end;-webkit-box-align: end; -webkit-box-pack: end;-ms-flex-pack: end;}.uabb-module-content h1,.uabb-module-content h2,.uabb-module-content h3,.uabb-module-content h4,.uabb-module-content h5,.uabb-module-content h6 {margin: 0;clear: both;}.fl-module-content a,.fl-module-content a:hover,.fl-module-content a:focus {text-decoration: none;}.uabb-row-separator {position: absolute;width: 100%;left: 0;}.uabb-top-row-separator {top: 0;bottom: auto}.uabb-bottom-row-separator {top: auto;bottom: 0;}.fl-builder-content-editing .fl-visible-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,.fl-builder-content-editing .fl-visible-mobile.uabb-row {display: none !important;}@media (max-width: 992px) {.fl-builder-content-editing .fl-visible-desktop.uabb-row,.fl-builder-content-editing .fl-visible-mobile.uabb-row {display: none !important;}.fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {display: block !important;}}@media (max-width: 768px) {.fl-builder-content-editing .fl-visible-desktop.uabb-row,.fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium.uabb-row {display: none !important;}.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,.fl-builder-content-editing .fl-visible-mobile.uabb-row {display: block !important;}}.fl-responsive-preview-content .fl-builder-content-editing {overflow-x: hidden;overflow-y: visible;}.uabb-row-separator svg {width: 100%;}.uabb-top-row-separator.uabb-has-svg svg {position: absolute;padding: 0;margin: 0;left: 50%;top: -1px;bottom: auto;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}.uabb-bottom-row-separator.uabb-has-svg svg {position: absolute;padding: 0;margin: 0;left: 50%;bottom: -1px;top: auto;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {bottom: 0;}.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {top: 0;}.uabb-bottom-row-separator.uabb-svg-triangle svg,.uabb-bottom-row-separator.uabb-xlarge-triangle svg,.uabb-top-row-separator.uabb-xlarge-triangle-left svg,.uabb-bottom-row-separator.uabb-svg-circle svg,.uabb-top-row-separator.uabb-slime-separator svg,.uabb-top-row-separator.uabb-grass-separator svg,.uabb-top-row-separator.uabb-grass-bend-separator svg,.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,.uabb-top-row-separator.uabb-wave-slide-separator svg,.uabb-top-row-separator.uabb-pine-tree-separator svg,.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,.uabb-bottom-row-separator.uabb-stamp-separator svg,.uabb-bottom-row-separator.uabb-xlarge-circle svg,.uabb-top-row-separator.uabb-wave-separator svg{left: 50%;-webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-bottom-row-separator.uabb-big-triangle svg {left: 50%;-webkit-transform: scale(1) scaleY(-1) translateX(-50%); -moz-transform: scale(1) scaleY(-1) translateX(-50%);-ms-transform: scale(1) scaleY(-1) translateX(-50%); -o-transform: scale(1) scaleY(-1) translateX(-50%);transform: scale(1) scaleY(-1) translateX(-50%);}.uabb-top-row-separator.uabb-big-triangle svg {left: 50%;-webkit-transform: translateX(-50%) scale(1); -moz-transform: translateX(-50%) scale(1);-ms-transform: translateX(-50%) scale(1); -o-transform: translateX(-50%) scale(1);transform: translateX(-50%) scale(1);}.uabb-top-row-separator.uabb-xlarge-triangle-right svg {left: 50%;-webkit-transform: translateX(-50%) scale(-1); -moz-transform: translateX(-50%) scale(-1);-ms-transform: translateX(-50%) scale(-1); -o-transform: translateX(-50%) scale(-1);transform: translateX(-50%) scale(-1);}.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {left: 50%;-webkit-transform: translateX(-50%) scaleX(-1); -moz-transform: translateX(-50%) scaleX(-1);-ms-transform: translateX(-50%) scaleX(-1); -o-transform: translateX(-50%) scaleX(-1);transform: translateX(-50%) scaleX(-1);}.uabb-top-row-separator.uabb-curve-up-separator svg {left: 50%; -webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-top-row-separator.uabb-curve-down-separator svg {left: 50%;-webkit-transform: translateX(-50%) scale(-1); -moz-transform: translateX(-50%) scale(-1);-ms-transform: translateX(-50%) scale(-1); -o-transform: translateX(-50%) scale(-1);transform: translateX(-50%) scale(-1);}.uabb-bottom-row-separator.uabb-curve-down-separator svg {left: 50%;-webkit-transform: translateX(-50%) scaleX(-1); -moz-transform: translateX(-50%) scaleX(-1);-ms-transform: translateX(-50%) scaleX(-1); -o-transform: translateX(-50%) scaleX(-1);transform: translateX(-50%) scaleX(-1);}.uabb-top-row-separator.uabb-tilt-left-separator svg {left: 50%;-webkit-transform: translateX(-50%) scale(-1); -moz-transform: translateX(-50%) scale(-1);-ms-transform: translateX(-50%) scale(-1); -o-transform: translateX(-50%) scale(-1);transform: translateX(-50%) scale(-1);}.uabb-top-row-separator.uabb-tilt-right-separator svg{left: 50%;-webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-bottom-row-separator.uabb-tilt-left-separator svg {left: 50%;-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%);-ms-transform: translateX(-50%); -o-transform: translateX(-50%);transform: translateX(-50%);}.uabb-bottom-row-separator.uabb-tilt-right-separator svg {left: 50%;-webkit-transform: translateX(-50%) scaleX(-1); -moz-transform: translateX(-50%) scaleX(-1);-ms-transform: translateX(-50%) scaleX(-1); -o-transform: translateX(-50%) scaleX(-1);transform: translateX(-50%) scaleX(-1);}.uabb-top-row-separator.uabb-tilt-left-separator,.uabb-top-row-separator.uabb-tilt-right-separator {top: 0;}.uabb-bottom-row-separator.uabb-tilt-left-separator,.uabb-bottom-row-separator.uabb-tilt-right-separator {bottom: 0;}.uabb-top-row-separator.uabb-arrow-outward-separator svg,.uabb-top-row-separator.uabb-arrow-inward-separator svg,.uabb-top-row-separator.uabb-cloud-separator svg,.uabb-top-row-separator.uabb-multi-triangle svg {left: 50%;-webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-bottom-row-separator.uabb-multi-triangle svg {bottom: -2px;}.uabb-row-separator.uabb-round-split:after,.uabb-row-separator.uabb-round-split:before {left: 0;width: 50%;background: inherit inherit/inherit inherit inherit inherit;content: '';position: absolute}.uabb-button-wrap a,.uabb-button-wrap a:visited {display: inline-block;font-size: 16px;line-height: 18px;text-decoration: none;text-shadow: none;}.uabb-button-wrap a *,.uabb-button-wrap a:visited * {}.fl-builder-content .uabb-button:hover {text-decoration: none;}.fl-builder-content .uabb-button-width-full .uabb-button {display: block;text-align: center;}.uabb-button-width-custom .uabb-button {display: inline-block;text-align: center;max-width: 100%;}.fl-builder-content .uabb-button-left {text-align: left;}.fl-builder-content .uabb-button-center {text-align: center;}.fl-builder-content .uabb-button-right {text-align: right;}.fl-builder-content .uabb-button i,.fl-builder-content .uabb-button i:before {font-size: 1em;height: 1em;line-height: 1em;width: 1em;}.uabb-button .uabb-button-icon-after {margin-left: 8px;margin-right: 0;}.uabb-button .uabb-button-icon-before {margin-left: 0;margin-right: 8px;}.uabb-button .uabb-button-icon-no-text {margin: 0;}.uabb-button-has-icon .uabb-button-text {vertical-align: middle;}.uabb-icon-wrap {display: inline-block;}.uabb-icon a {text-decoration: none;}.uabb-icon i {display: block;}.uabb-icon i:before {border: none !important;background: none !important;}.uabb-icon-text {display: table-cell;text-align: left;padding-left: 15px;vertical-align: middle;}.uabb-icon-text *:last-child {margin: 0 !important;padding: 0 !important;}.uabb-icon-text a {text-decoration: none;}.uabb-photo {line-height: 0;position: relative;z-index: 2;}.uabb-photo-align-left {text-align: left;}.uabb-photo-align-center {text-align: center;}.uabb-photo-align-right {text-align: right;}.uabb-photo-content {border-radius: 0;display: inline-block;line-height: 0;position: relative;max-width: 100%;overflow: hidden;}.uabb-photo-content img {border-radius: inherit;display: inline;height: auto;max-width: 100%;width: auto;}.fl-builder-content .uabb-photo-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}.fl-builder-content .uabb-photo-crop-square img {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}.uabb-photo-caption {font-size: 13px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}.uabb-photo-caption-below {padding-bottom: 20px;padding-top: 10px;}.uabb-photo-caption-hover {background: rgba(0,0,0,0.7);bottom: 0;color: #fff;left: 0;opacity: 0;visibility: hidden;filter: alpha(opacity = 0);padding: 10px 15px;position: absolute;right: 0;-webkit-transition:visibility 200ms linear;-moz-transition:visibility 200ms linear;transition:visibility 200ms linear;}.uabb-photo-content:hover .uabb-photo-caption-hover {opacity: 100;visibility: visible;}.uabb-active-btn {background: #1e8cbe;border-color: #0074a2;-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);box-shadow: inset 0 1px 0 rgba(120,200,230,.6);color: white;}.fl-builder-bar .fl-builder-add-content-button {display: block !important;opacity: 1 !important;}.uabb-imgicon-wrap .uabb-icon {display: block;}.uabb-imgicon-wrap .uabb-icon i{float: none;}.uabb-imgicon-wrap .uabb-image {line-height: 0;position: relative;}.uabb-imgicon-wrap .uabb-image-align-left {text-align: left;}.uabb-imgicon-wrap .uabb-image-align-center {text-align: center;}.uabb-imgicon-wrap .uabb-image-align-right {text-align: right;}.uabb-imgicon-wrap .uabb-image-content {display: inline-block;border-radius: 0;line-height: 0;position: relative;max-width: 100%;}.uabb-imgicon-wrap .uabb-image-content img {display: inline;height: auto !important;max-width: 100%;width: auto;border-radius: inherit;box-shadow: none;box-sizing: content-box;}.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}.uabb-creative-button-wrap a,.uabb-creative-button-wrap a:visited {background: #fafafa;border: 1px solid #ccc;color: #333;display: inline-block;vertical-align: middle;text-align: center;overflow: hidden;text-decoration: none;text-shadow: none;box-shadow: none;position: relative;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;}.uabb-creative-button-wrap a:focus {text-decoration: none;text-shadow: none;box-shadow: none;}.uabb-creative-button-wrap a .uabb-creative-button-text,.uabb-creative-button-wrap a .uabb-creative-button-icon,.uabb-creative-button-wrap a:visited .uabb-creative-button-text,.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;}.uabb-creative-button-wrap a:hover {text-decoration: none;}.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {display: block;text-align: center;}.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {display: inline-block;text-align: center;max-width: 100%;}.uabb-creative-button-wrap .uabb-creative-button-left {text-align: left;}.uabb-creative-button-wrap .uabb-creative-button-center {text-align: center;}.uabb-creative-button-wrap .uabb-creative-button-right {text-align: right;}.uabb-creative-button-wrap .uabb-creative-button i {font-size: 1.3em;height: auto;vertical-align: middle;width: auto;}.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {margin-left: 8px;margin-right: 0;}.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {margin-right: 8px;margin-left: 0;}.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {margin: 0;}.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {vertical-align: middle;}.uabb-creative-button.uabb-creative-transparent-btn {background: transparent;}.uabb-creative-button.uabb-creative-transparent-btn:after {content: '';position: absolute;z-index: 1;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;}.uabb-transparent-fill-top-btn:after,.uabb-transparent-fill-bottom-btn:after {width: 100%;height: 0;left: 0;}.uabb-transparent-fill-top-btn:after {top: 0;}.uabb-transparent-fill-bottom-btn:after {bottom: 0;}.uabb-transparent-fill-left-btn:after,.uabb-transparent-fill-right-btn:after {width: 0;height: 100%;top: 0;}.uabb-transparent-fill-left-btn:after {left: 0;}.uabb-transparent-fill-right-btn:after {right: 0;}.uabb-transparent-fill-center-btn:after{width: 0;height: 100%;top: 50%;left: 50%;-webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}.uabb-transparent-fill-diagonal-btn:after,.uabb-transparent-fill-horizontal-btn:after {width: 100%;height: 0;top: 50%;left: 50%;}.uabb-transparent-fill-diagonal-btn{overflow: hidden;}.uabb-transparent-fill-diagonal-btn:after{-webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg ); -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );-ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg ); -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );transform: translateX(-50%) translateY(-50%) rotate( 45deg );}.uabb-transparent-fill-horizontal-btn:after{-webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {-webkit-transition: none; -moz-transition: none;-ms-transition: none; -o-transition: none;transition: none;}.perspective {-webkit-perspective: 800px; -moz-perspective: 800px;perspective: 800px;margin: 0;}.uabb-creative-button.uabb-creative-threed-btn:after {content: '';position: absolute;z-index: -1;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;transition: all 200ms linear;}.uabb-creative-button.uabb-creative-threed-btn {outline: 1px solid transparent;-webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d;transform-style: preserve-3d;}.uabb-creative-threed-btn.uabb-animate_top-btn:after {height: 40%;left: 0;top: -40%;width: 100%;-webkit-transform-origin: 0% 100%; -moz-transform-origin: 0% 100%;transform-origin: 0% 100%;-webkit-transform: rotateX(90deg); -moz-transform: rotateX(90deg);transform: rotateX(90deg);}.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {width: 100%;height: 40%;left: 0;top: 100%;-webkit-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;transform-origin: 0% 0%;-webkit-transform: rotateX(-90deg); -moz-transform: rotateX(-90deg);-ms-transform: rotateX(-90deg);transform: rotateX(-90deg);}.uabb-creative-threed-btn.uabb-animate_left-btn:after {width: 20%;height: 100%;left: -20%;top: 0;-webkit-transform-origin: 100% 0%; -moz-transform-origin: 100% 0%;-ms-transform-origin: 100% 0%;transform-origin: 100% 0%;-webkit-transform: rotateY(-60deg); -moz-transform: rotateY(-60deg);-ms-transform: rotateY(-60deg);transform: rotateY(-60deg);}.uabb-creative-threed-btn.uabb-animate_right-btn:after {width: 20%;height: 100%;left: 104%;top: 0;-webkit-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;transform-origin: 0% 0%;-webkit-transform: rotateY(120deg); -moz-transform: rotateY(120deg);-ms-transform: rotateY(120deg);transform: rotateY(120deg);}.uabb-animate_top-btn:hover{-webkit-transform: rotateX(-15deg); -moz-transform: rotateX(-15deg);-ms-transform: rotateX(-15deg); -o-transform: rotateX(-15deg);transform: rotateX(-15deg);}.uabb-animate_bottom-btn:hover{-webkit-transform: rotateX(15deg); -moz-transform: rotateX(15deg);-ms-transform: rotateX(15deg); -o-transform: rotateX(15deg);transform: rotateX(15deg);}.uabb-animate_left-btn:hover{-webkit-transform: rotateY(6deg); -moz-transform: rotateY(6deg);-ms-transform: rotateY(6deg); -o-transform: rotateY(6deg);transform: rotateY(6deg);}.uabb-animate_right-btn:hover{-webkit-transform: rotateY(-6deg); -moz-transform: rotateY(-6deg);-ms-transform: rotateY(-6deg); -o-transform: rotateY(-6deg);transform: rotateY(-6deg);}.uabb-creative-flat-btn.uabb-animate_to_right-btn,.uabb-creative-flat-btn.uabb-animate_to_left-btn,.uabb-creative-flat-btn.uabb-animate_from_top-btn,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {overflow: hidden;position: relative;}.uabb-creative-flat-btn.uabb-animate_to_right-btn i,.uabb-creative-flat-btn.uabb-animate_to_left-btn i,.uabb-creative-flat-btn.uabb-animate_from_top-btn i,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {bottom: 0;height: 100%;margin: 0;opacity: 1;position: absolute;right: 0;width: 100%;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;transition: all 200ms linear;-webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {display: inline-block;width: 100%;height: 100%;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;backface-visibility: hidden;}.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {position: absolute;top: 50%;left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-o-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {left: 0;}.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {top: 0;}.uabb-creative-flat-btn.uabb-animate_to_right-btn i {top: 0;left: -100%;}.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {-webkit-transform: translateX(200%); -moz-transform: translateX(200%);-ms-transform: translateX(200%); -o-transform: translateX(200%);transform: translateX(200%);}.uabb-creative-flat-btn.uabb-animate_to_left-btn i {top: 0;left: 100%;}.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {-webkit-transform: translateX(-200%); -moz-transform: translateX(-200%);-ms-transform: translateX(-200%); -o-transform: translateX(-200%);transform: translateX(-200%);}.uabb-creative-flat-btn.uabb-animate_from_top-btn i {top: -100%;left: 0;}.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {-webkit-transform: translateY(400px); -moz-transform: translateY(400px);-ms-transform: translateY(400px); -o-transform: translateY(400px);transform: translateY(400px);}.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {top: 100%;left: 0;}.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {-webkit-transform: translateY(-400px); -moz-transform: translateY(-400px);-ms-transform: translateY(-400px); -o-transform: translateY(-400px);transform: translateY(-400px);}.uabb-tab-acc-content .wp-video, .uabb-tab-acc-content video.wp-video-shortcode, .uabb-tab-acc-content .mejs-container:not(.mejs-audio), .uabb-tab-acc-content .mejs-overlay.load,.uabb-adv-accordion-content .wp-video, .uabb-adv-accordion-content video.wp-video-shortcode, .uabb-adv-accordion-content .mejs-container:not(.mejs-audio), .uabb-adv-accordion-content .mejs-overlay.load {width: 100% !important;height: 100% !important;}.uabb-tab-acc-content .mejs-container:not(.mejs-audio),.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {padding-top: 56.25%;}.uabb-tab-acc-content .wp-video, .uabb-tab-acc-content video.wp-video-shortcode,.uabb-adv-accordion-content .wp-video, .uabb-adv-accordion-content video.wp-video-shortcode {max-width: 100% !important;}.uabb-tab-acc-content video.wp-video-shortcode,.uabb-adv-accordion-content video.wp-video-shortcode {position: relative;}.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {position: absolute;top: 0;right: 0;bottom: 0;left: 0;}.uabb-tab-acc-content .mejs-overlay-play,.uabb-adv-accordion-content .mejs-overlay-play {top: 0;right: 0;bottom: 0;left: 0;width: auto !important;height: auto !important;}.fl-row-content-wrap .uabb-row-particles-background {width:100%;height:100%;position:absolute;left:0;top:0;}.uabb-col-particles-background {width:100%;height:100%;position:absolute;left:0;top:0;}.uabb-creative-button-wrap a,.uabb-creative-button-wrap a:visited {}.uabb-dual-button .uabb-btn,.uabb-dual-button .uabb-btn:visited { }.uabb-js-breakpoint { content:"default"; display:none;}@media screen and (max-width: 992px) {.uabb-js-breakpoint {content:"992";}}@media screen and (max-width: 768px) {.uabb-js-breakpoint {content:"768";}}.njba-btn-main a.njba-btn{text-decoration: none;position: relative;}.njba-btn-main a:hover, .njba-btn-main a:active, .njba-btn-main a:focus{text-decoration: none;}.njba-btn-main a:active, .njba-btn-main a:focus{outline: none;}.njba-btn-main a.njba-btn:before {position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;-webkit-transition-property: transform;-moz-transition-property: transform;-o-transition-property: transform;-ms-transition-property: transform;transition-property: transform;-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;transition-timing-function: ease-out;}.njba-row-separator {position: absolute;width: 100%;left: 0;z-index: 1}.njba-top-row-separator {top: -1px;bottom: auto}.njba-bottom-row-separator {top: auto;bottom: -1px}.njba-top-row-separator.njba-has-svg svg {position: absolute;padding: 0;margin: 0;left: 0;top: -1px;bottom: auto;width: 100%;}.njba-bottom-row-separator.njba-has-svg svg {position: absolute;padding: 0;margin: 0;left: 0;bottom: -1px;top: auto;width: 100%;}.njba-bottom-row-separator.njba-has-svg .uasvg-wave-separator {bottom: 0;}.njba-top-row-separator.njba-has-svg .uasvg-wave-separator {top: 0;}.njba-bottom-row-separator.njba-svg-triangle svg,.njba-bottom-row-separator.njba-xlarge-triangle svg,.njba-top-row-separator.njba-xlarge-triangle-left svg,.njba-bottom-row-separator.njba-svg-circle svg,.njba-bottom-row-separator.njba-xlarge-circle svg,.njba-top-row-separator.njba-wave-separator svg {-webkit-transform: scaleY(-1); -moz-transform: scaleY(-1);-ms-transform: scaleY(-1); -o-transform: scaleY(-1);transform: scaleY(-1);}.njba-top-row-separator.njba-xlarge-triangle-right svg {-webkit-transform: scale(-1); -moz-transform: scale(-1);-ms-transform: scale(-1); -o-transform: scale(-1);transform: scale(-1);}.njba-bottom-row-separator.njba-xlarge-triangle-right svg {-webkit-transform: scaleX(-1); -moz-transform: scaleX(-1);-ms-transform: scaleX(-1); -o-transform: scaleX(-1);transform: scaleX(-1);}.njba-top-row-separator.njba-curve-up-separator svg { -webkit-transform: scaleY(-1); -moz-transform: scaleY(-1);-ms-transform: scaleY(-1); -o-transform: scaleY(-1);transform: scaleY(-1);}.njba-top-row-separator.njba-curve-down-separator svg {-webkit-transform: scale(-1); -moz-transform: scale(-1);-ms-transform: scale(-1); -o-transform: scale(-1);transform: scale(-1);}.njba-bottom-row-separator.njba-curve-down-separator svg {-webkit-transform: scaleX(-1); -moz-transform: scaleX(-1);-ms-transform: scaleX(-1); -o-transform: scaleX(-1);transform: scaleX(-1);}.njba-top-row-separator.njba-tilt-left-separator svg {-webkit-transform: scale(-1); -moz-transform: scale(-1);-ms-transform: scale(-1); -o-transform: scale(-1);transform: scale(-1);}.njba-top-row-separator.njba-tilt-right-separator svg{-webkit-transform: scaleY(-1); -moz-transform: scaleY(-1);-ms-transform: scaleY(-1); -o-transform: scaleY(-1);transform: scaleY(-1);}.njba-bottom-row-separator.njba-tilt-right-separator svg {-webkit-transform: scaleX(-1); -moz-transform: scaleX(-1);-ms-transform: scaleX(-1); -o-transform: scaleX(-1);transform: scaleX(-1);}.njba-row-separator.njba-cloud-separator svg {left: -1px;width: 100%;}.njba-top-row-separator.njba-cloud-separator svg,.njba-top-row-separator.njba-multi-triangle svg {-webkit-transform: scaleY(-1); -moz-transform: scaleY(-1);-ms-transform: scaleY(-1); -o-transform: scaleY(-1);transform: scaleY(-1);}.njba-row-separator.njba-round-split {z-index: 1;}.njba-row-separator.njba-round-split:after,.njba-row-separator.njba-round-split:before {left: 0;z-index: 10;width: 50%;background: inherit inherit/inherit inherit inherit inherit;content: '';position: absolute}
.fl-page-header-fixed {
    background: rgba(0, 0, 0, 0.6) !important;
}
.top-bar-corona-update{
    font-size: 15px;
    font-weight: 600;
}
.top-bar-corona-update p{
    color: #fff;
    text-align: center;
}
.top-bar-corona-update a{
    color: #fff;
}
.top-bar-corona-update a:hover{
    color: #ff6070;
}
.bhf-fixed .headerMain > .fl-row-content-wrap{
    background-image: linear-gradient(180deg, rgba(2,0,0,0.99) 0%, rgba(0,0,0,0.39) 100%);
}

.fl-page-nav-right.fl-page-header-fixed .navbar-nav li>a,
.fl-page-header-fixed .navbar-nav li>a {
    color: #ffffff;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a {
    color: rgb(147, 190, 175);
}

.fl-page-nav-right.fl-page-header-fixed .fl-page-nav ul.sub-menu,
.fl-page-header-fixed .fl-page-nav ul.sub-menu {
    background: rgba(0, 0, 0, 0.6) !important;
}

.fl-node-content .contact-no .fl-module-content .fl-html .phone.retailer {
    color: #fff;
    font-size: 16px;
}

.social-icons .fl-module-content .fl-html .social-icons li {
    margin: -3px 10px 0px 0;
}

.social-icons .fl-module-content .fl-html .social-icons li a i,
.button-wrapper-default a{
    color: #fff;
}


#masthead .contacts-social-wrapper {
    text-align: right;
}

.fl-node-content .contact-no .fl-module-content .fl-html .phone.retailer:hover span,
.social-icons .fl-module-content .fl-html .social-icons li a:hover i {
    color: #ff6070;
}

.fl-module-content .fl-rich-text>p {
    margin: 5px 0 10px;
}

#masthead .navRight>.fl-col-content.fl-node-content {
    display: flex;
    flex-direction: row;
}

#masthead .navRight>.fl-col-content.fl-node-content .fl-module.fl-module-uabb-advanced-menu {
    width: 92%;
}

#masthead .advSearch {
    width: 8%;
}

.search-row.product-margin-top .fl-content {
    margin: 0;
}

.search-row.product-margin-top .fl-archive-header .fl-archive-title {
    margin: 40px 0;
}

.uabb-gf-style .gform_wrapper .gform_body .ginput_container_checkbox .gfield_checkbox li label {
    padding-left: 10px;
    position: relative;
    min-height: 20px;
    width: 100%;
    padding-right: 0;
	font-size: 16px!important;
}
.gform_legacy_markup_wrapper .gfield_time_ampm select {
    height: 65%!important;
	padding: 5px!important;
}
#gform_17 .gform_footer, #gform_wrapper_18 .gform_footer{
    /* text-align: center!important; */
}
.gform_legacy_markup_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_legacy_markup_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_legacy_markup_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]{
	    margin-top: 0px!important;
}
.uabb-gf-style .gform_wrapper .gform_body .ginput_container_checkbox .gfield_checkbox li.gchoice_11_11_1 label#label_11_11_1 {
    color: #ff6070;
    line-height: 20px;
}

.uabb-gf-style .gform_wrapper .gform_body .ginput_container_checkbox .gfield_checkbox li.gchoice_11_11_1 label#label_11_11_1 a {
    color: #ff6070;
}

.uabb-gf-style .gform_wrapper .gform_body .ginput_container_checkbox .gfield_checkbox li label:before {
    content: '';
    position: absolute;
    left: 0;
}

.button-wrapper-default a.button,
a.text-right {
    border: 2px solid #ff6070;
    color: #ff6070;
}



.active-gallery-modal .product-box a.fl-button:hover span{
    color: #fff !important;
}

.ginput_recaptcha>div {
    width: 100% !important;
    overflow: auto;
}

#input_12_13 .rc-anchor-logo-portrait {
    margin: 10px 0 0 0;
}

#input_12_13 .rc-anchor-normal .rc-anchor-pt {
    margin: 0;
    padding-right: 0px;
    position: none;
    text-align: left;
    width: auto;
}

.facet_filters strong {
    color: #282828;
}

.fl-builder-content .homepage-banner-bg .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
}

.box-shadow>.fl-col-content.fl-node-content {
    box-shadow: 12px 18px #832f2d;
}

.uabb-tabs-nav ul li h4 a:hover {
    color: #be3a38;
}

.location-details .fl-module-button a:hover span,
.location-details .storename .direction a:hover span {
    color: #fff !important;
}

div.fl-page input[type=submit]:hover {
    color: #fff !important;
}

.fl-builder-content .homepage-banner-bg .fl-module-content-slider .fl-slide .fl-slide-content .fl-slide-text>p {
    margin: 0 !important
}

.singular-blog-post>.fl-page-content .fl-content-left.fl-content,
.singular-blog-post>.fl-page-content .fl-sidebar-right.fl-sidebar {
    margin-top: 210px;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
    text-transform: uppercase;
}
.uabb-gf-style .gform_wrapper#gform_wrapper_15 .gform_body .ginput_container_checkbox .gfield_checkbox li label#label_15_7_1{
    padding-left: 5px; 
}
.gform_wrapper#gform_wrapper_15.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper#gform_wrapper_15.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
    margin-top: -5px;
}

.fl-module-uabb-gravity-form .uabb-gf-style p.uabb-gf-form-desc{
    font-size: 16px;
}

.ginput_recaptcha>div{
    overflow: hidden;
}
/* .fl-node-5ce41c7b61a7a .uabb-creative-menu .sub-menu > .uabb-has-submenu > a{
    font-weight: 600!important;
} */

#breadcrumbs {
    /*top: 85px !important;*/
    /* z-index: 999 !important; */
}
body.page-id-531930 #breadcrumbs {
    top: 140px !important;
    /* z-index: 999 !important; */
}
.headerMain>.fl-row-content-wrap {
    padding-top: 10px;
    padding-bottom: 0;
}

#breadcrumbs .container {
    max-width: 1260px;
}

#breadcrumbs a {
    color: #fff;
    text-decoration: underline;
    font-weight: 400;
}
.page-id-531932 #breadcrumbs,
.page-id-531932 #breadcrumbs a
.page-id-531931 #breadcrumbs,
.page-id-531931 #breadcrumbs a{
    color: rgb(147, 190, 175);
}
.navRight .fl-module-uabb-advanced-menu  .menu .uabb-has-submenu .sub-menu{
    z-index: 112;
}
li.menuSearch {
	margin-left: 20px!important;
}
.menuSearch i{
	font-size: 18px;
}
.menuSearch i:hover{
	cursor: pointer;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    padding: 5px 20px;
	max-width: 600px;
}

/*Instock plp css*/

.instock .product-variations1 .plp_box_orderBtn {
    display: block!important;
}

.instock .product-variations1 .plp_box_orderBtn {
    color: #fff;
    background-color: #848689!important;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

.instock .product-variations1 .plp_box_orderBtn:hover,
.instock .product-variations1 .plp_box_orderBtn:focus {
    color: #fff;
    background-color: #0079c1!important;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.instock .product-variations1 .plp_box_btn {
    margin-top: 10px!important;
}

.instock .product-variations1 .price {
    margin-top: 10px!important;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 27.65px;
    letter-spacing: 0.29px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .product-swatch .product-swatch-inner .favProdPdp,
.product-row .favProdPdp {
    cursor: pointer!important;
}

.instock .product-variations1 .price sub {
    font-size: 16px;
    vertical-align: middle;
}

.instock .product-variations1 .price sup {
    font-size: 16px;
}

.instock .product-row .fl-post-grid-post .instockImgPlp {
    position: absolute;
    top: 0;
    left: 4px;
}

.instock .product-variations1 .plp_box_btn {
    background-color: #ff9e18!important;
    padding: 16px 10px!important;
    border-radius: 0px!important;
    color: #fff!important;
    font-size: 16px!important;
    border: 1px solid #ff9e18!important;
    line-height: 1em!important;
}

.instock .product-variations1 .plp_box_btn:hover {
    background-color: #0081CC!important;
    padding: 16px 10px!important;
    border-radius: 0px!important;
    color: #fff!important;
    font-size: 16px!important;
    border: 1px solid #0081CC!important;
    line-height: 1em!important;
}

.instock .product-variations1 .plp_box_orderBtn {
    background-color: #848689!important;
    padding: 16px 10px!important;
    border-radius: 0px!important;
    color: #fff!important;
    font-size: 16px!important;
    border: 1px solid #848689!important;
    line-height: 1em!important;
}

.instock .product-variations1 .plp_box_orderBtn:hover {
    background-color:  #ff9e18!important;
    padding: 16px 10px!important;
    border-radius: 0px!important;
    color: #fff!important;
    font-size: 16px!important;
    border: 1px solid  #ff9e18!important;
    line-height: 1em!important;
}

.instockPdp .product-attributes tr td {
    text-align: left!important;
}
.instock .product-grid.btn-grey>h4>span {
    font-size: 15px!important;
}
.instockPdp {
    padding-top: 130px!important;
}


/*Instock plp css end*/


/*Instock pdp css start here */

.PDP_form .uabb-gf-style {
    padding-bottom: 0px!important;
}

.PDP_form .uabb-tab-acc-content {
    border: none!important;
    background-color: #f6f6f6;
}

.PDP_form .uabb-tabs-nav ul li:not(.uabb-tab-current) a {
    background-color: #20A276!important;
    color: #fff!important;
}

.PDP_form .uabb-tabs-nav ul li:first-child {
    margin-right: 0px!important;
}

.PDP_form .uabb-tabs-nav ul li:last-child {
    margin-left: 0px!important;
}

.PDP_form .uabb-content {
    padding: 0px!important;
}

.PDP_form .uabb-gf-form-desc {
    text-align: center!important;
}

.PDP_form .uabb-tab-acc-content {
    border: none!important;
}

.PDP_form select,
.PDP_form input[type=text],
.PDP_form input[type=email],
.PDP_form textarea,
.PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield select,
.PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=text],
.PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=email] {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0px!important;
}

.PDP_form select,
.PDP_form input[type=text],
.PDP_form input[type=email] {
    height: 48px!important;
}

.PDP_form .mesurmentTool>div {
    padding: 0px!important;
}

.PDP_form .mesurmentTool {
    display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
    cursor: pointer;
}

.instockPdp input[type=submit] {
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
}

.PDP_form .mesurmentTool>div:last-child {
    margin-left: 6px!important;
}

.PDP_form input[type="radio"],
.PDP_form input[type="checkbox"] {
    margin-top: 0px!important;
}

.PDP_form .liMeasur {
    position: relative;
    overflow: visible !important;
}

.PDP_form .ginput_container_checkbox label {
    font-size: 12px!important;
    font-family: "Roboto", sans-serif;
}

.PDP_form .ginput_container_checkbox .gfield_checkbox {
    display: flex;
}

.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label {
    padding-right: 6px!important;
}

.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li {
    flex: 1 1 auto;
}

.PDP_form textarea {
    height: 160px!important;
}

.instockPdp .product-colors>.row {
    display: flex;
    align-items: flex-end;
}

.instockPdp .share div {
    color: #575757;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.21px;
    line-height: 16px;
}

.instockPdp .product-box.pdp2-leftbox>.row {
    display: flex;
    align-items: flex-end;
}


/* .instockPdp .share span{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
} */

.instockPdp .share ul,
.instockPdp .share ul li {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.instockPdp .MarkInstock {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instockPdp .MarkInstock span {
    color: #20A276;
    font-family: "Josefin Sans";
    font-size: 20.65px;
    font-weight: bold;
    letter-spacing: 0.36px;
    line-height: 20px;
    margin-left: 8px;
    align-items: center;
}

.instockPdp .price {
    margin-top: 10px!important;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 27.65px;
    letter-spacing: 0.29px;
    line-height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.instockPdp .product-box h2 {
    color: #000!important;
}

.instockPdp .product-box h1 {
    color: #000!important;
}

.instockPdp .product-detail-layout-default .product-swatch {
    margin-top: 0px!important;
}

.instockPdp .product-box.pdp2-leftbox {
    padding-top: 50px;
}

.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}

.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}

.instockPdp .product-colors,
.instockPdp .product-attributes>h3 {
    text-align: left!important;
}

.instockPdp .slick-track .slide {
    margin-bottom: 0px!important;
    padding: 0px 4px;
}

.product-swatch-inner #product-images-holder a .main-imgs img {
    position: absolute;
    bottom: auto!important;
    left: 0px;
    top: 0;
    right: 0px;
    margin: auto;
}

.instockPdp #product-images-holder .img-responsive {
    background-position: center top!important;
}

.instockPdp .toggle-image-thumbnails {
    margin-top: 0px!important;
}

.instockPdp .productHolder {
    position: relative;
}

.instockPdp .product-swatch .product-swatch-inner .favProdPdp {
    position: absolute;
    top: auto!important;
    bottom: 50px!important;
    left: auto;
    right: 10%!important;
}

.instockPdp .product-detail-layout-default .product-variations {
    width: 100%;
    margin: 0 auto!important;
}

.instockPdp .button-wrapper-default a,
.button-wrapper-default a.button {
    width: 100%;
}

.instock .product-variations1 h5 {
    color: #ff9e18;
	font-size: 14px!important;
}

.instock.product-grid .fl-post-grid-post {
    margin-bottom: 20px;
}


/*Instock pdp css end here */

@media only screen and (min-width: 769px) {

    .social-icons,
    .contact-no {
        display: inline-block;
    }
}

@media screen and (min-width:769px)and (max-width: 1024px) {
    .fl-col.fl-col-small.marginTop .uabb-new-ib-desc h2.uabb-new-ib-title {
        font-size: 25px;
    }
}
@media only screen and (max-width: 1024px) {
    
    #breadcrumbs {
        top: 112px !important;
    }
    .custom_banner .fl-col {
        width: 100% !important;
    }
    .custom_banner .fl-col .infobox-left {
        justify-content: center;
    }
    .custom_banner .uabb-module-content.uabb-infobox.infobox-left {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .fl-builder-content #homePageMainSlider.fl-module-content-slider .fl-slide .fl-slide-text .uabb-heading .uabb-heading-text {
        font-size: 26px !important;
    }

    .contact-no {
        display: block;
        text-align: center;
    }

    #masthead ul#menu-main-menu-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #masthead .fl-module-uabb-advanced-menu ul.menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        margin: 0;
        z-index: 2;
    }

    #masthead .fl-module-uabb-advanced-menu .uabb-creative-menu-mobile-toggle-container {
        position: absolute;
        z-index: 9;
        top: 90px;
        right: 10px;
        background: #fff;
    }

    #masthead .fl-module-uabb-advanced-menu .uabb-creative-menu-mobile-toggle-container .uabb-creative-menu-mobile-toggle {
        padding: 8px;
        color: #000;
    }

    footer #menu-copyright-bar-menu li {
        display: inline-block;
    }

    footer #menu-footer-flooring-product li {
        display: block;
    }

    .fl-col-small {
        max-width: 100%;
    }

    .fl-builder-content .homepage-banner-bg .fl-module-content-slider .fl-slide .fl-slide-content .fl-col-content {

        width: 90%;
        margin: 0 auto !important;
    }

    #homePageMainSlider .salebanner-slide {
        max-height: 260px !important;
    }

    .SlideSecondCuponWrap .fl-row-content {
        margin: 160px auto 0;
    }

    .social_icons_footer .social-icons li {
        margin: 0 15px;
    }

    footer #menu-footer-flooring-product li {
        text-align: center;
    }

    .active-gallery-modal .product-box a.fl-button {
        margin: 0 auto;
    }

    .product-attributes td {
        text-align: right;
    }

    #breadcrumbs {
        top: 150px !important;
    }
    .location-hours ul.store-opening-hrs {
        padding: 0;
        list-style: none;
    }
    .listPad.tilgrey:after{
        left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .singular-blog-post>.fl-page-content .fl-content-left.fl-content, .singular-blog-post>.fl-page-content .fl-sidebar-right.fl-sidebar{
        margin-top: 20px;
    }
    #masthead, .headerMain{
        position: static!important;
    }
    .fl-builder-content .colFull_mob {
        width: 100% !important;
    }

    .post-template-default .fl-builder-content .infobox-photo-right-title .uabb-infobox-title-wrap,
    .post-template-default .fl-builder-content .infobox-photo-left-title .uabb-infobox-title-wrap {
        width: 100% !important;
    }

    .right-title-image {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .fl-module.fl-module-uabb-gravity-form .uabb-gf-style.uabb-gf-form-style1 {
        padding: 20px 10px;
    }
    .custom_banner .uabb-module-content.uabb-infobox.infobox-left{
        padding-left: 15px;
        padding-right: 15px;
    }
    .custom_banner .uabb-module-content.uabb-infobox a.uabb-button.borderNone{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 414px) {
    #masthead .fl-module-uabb-advanced-menu .uabb-creative-menu-mobile-toggle-container {
        top: 86px;
    }
}

@media only screen and (max-width: 360px) {
    #masthead .fl-module-uabb-advanced-menu .uabb-creative-menu-mobile-toggle-container {
        top: 83px;
    }

    .fl-node-5ce41befb207d .uabb-photo-content img {
        width: 210px;
    }

}
@media screen and (min-width: 425px) and (max-width: 768px) { 
     .coretecBanner{
 	margin-top: 140px!important;
 }
}
input[type='checkbox'] + label:before{
	border-radius: 0px!important;
}
@media print {

    .fl-sidebar,
    #masthead,
    #djcustom-footer,
    footer {
        display: none;
    }
}

#breadcrumbs a{
	color: #ff6070 !important;
}
.custom_searchHeader .fa-search {
    font-size: 18px;
    cursor: pointer;
}
ul.social-icons a:hover {
    color: #f3920c !important;
}
.footer-hover a:hover p, .footer-hover .phone a:hover span {
    color: #f3920c !important;
}
.copayright .fl-rich-text p {
    margin: 0;
}
.custom_searchHeader i {
    cursor: pointer;
}
.button-wrapper a.button.alt:hover{
    background-color: #0081cc;
    border-color: #0081cc;
    color: #fff;
}
ul.storename .phone a:hover span {
    color: #ff9e18 !important;
}
ul.storename .direction a {
    padding: 12px 33px;
}